@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background: linear-gradient(120deg, #74ebd5 0%, #acb6e5 50%, #6dd5ed 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}


.Maki {
  font-size: 18px;
}
.center {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2%;
}

section.box1 {
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 100%;
  max-width: 135px;
}

.logo img {
  width: 100%;
  border-radius: 1000%;
  vertical-align: middle;
}

.img-logo:hover {
  border-color: black;
}
.img-logo {
  border: 2px solid white;
  border-radius: 50%;
  padding: 3px;
  transition: 0.3s;
}

.desc {
  text-align: center;
  color: white;
  margin: 10px 0;
}

.desc h2 {
  font-weight: normal;
}

.desc p {
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

.link {
  width: 100%;
  text-align: center;
}

.link a {
  color: white;
  text-decoration: none;
}

.link .link-a:hover {
  background: white;
  color: black;
}

.link .link-a {
  position: relative;
  border-radius: 7px;
  border: 2px solid white;
  padding: 10px;
  margin: 17px 0;
  transition: 0.3s;
}

.link .link-a i {
  position: absolute;
  left: 20px;
  line-height: 1;
  font-size: 23px;
}

.link .link-a h3 {
  font-weight: normal;
}

.link2 {
  margin-top: 30px;
}

.link2 i:hover {
  transform: scale(1.3);
}

.link2 i {
  transition: 0.3s;
}

.link2 a {
  color: white;
  font-size: 28px;
  margin: 0 3px;
}

footer {
  margin-top: 100px;
  text-align: center;
  padding: 3px;
  color: white;
}
::selection{
  background: #333;
  color: #fff;
} 
html {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
